        .navbar {
            background-color: #fff !important;
            width: 100% !important;
            box-shadow: 1px 1px 1px 1px lightgray;
        }
        
        .btn {
            margin: 0px 10px 0px 0px;
            background-color: tomato !important;
            color: white !important;
            border: none !important;
            box-shadow: 1px 1px 1px 1px lightgray;
        }
        
        .jumbotron {
            margin: 30px 0px 30px 0px;
            background: url('../images/hendrik-cornelissen--qrcOR33ErA-unsplash.jpg') no-repeat center center;
            background-size: cover;
            padding-top: 0%;
            padding-bottom: 20%;
            color: white;
            border-radius: 6px !important;
            box-shadow: 1px 1px 1px 1px lightgray;
        }
        
        #jumbo {
            padding-top: 130px;
            padding-left: 40px;
            font-weight: 9000;
        }
        
        .display-4 {
            font-size: 70px;
        }
        
        .col {
            background-color: gray;
            margin: 20px;
        }
        
        #state-picker {
            background-color: lightgrey;
            padding: 10px 0px 30px 0px;
            border-radius: 6px !important;
            background: rgb(204, 204, 204);
            background: rgba(204, 204, 204, 0.5);
            margin: 0px 15px 25px 15px;
        }
        
        #picker {
            font-weight: bolder;
            font-size: 20px;
        }
        /* .form-group {
            background-color: lightgrey;
            padding: 30px 0px 30px 0px;
            border-radius: 6px !important;
            background: rgb(204, 204, 204);
            background: rgba(204, 204, 204, 0.5);
            margin-bottom: 100px;
        } */
        
        form {
            margin-top: 10px;
        }
        
        #state {
            box-shadow: 1px 1px 1px 1px lightgray;
        }
        
        .card-deck {
            margin: 15px 6px 100px 6px;
        }
        /* .card {
            margin: 0px 30px 0px 30px;
        } */
        
        .card-body {
            margin: 0px 30px 0px 30px;
            border-left: 1px;
        }
        
        hr {
            background-color: tomato;
            width: 70px;
            margin-left: 0px;
        }
        
        footer {
            margin-top: 100px;
            border-top: 2px solid tomato;
            bottom: 0;
            width: 100%;
            height: 70px;
            clear: both;
            position: fixed;
            box-shadow: 0px 0px 0px 3px lightgray;
        }
        /* Park Page Styling */
        
        .state-cover {
            margin: 30px 0px 30px 0px;
            background: url('../images/Rocky.jpg') no-repeat center center;
            background-size: cover;
            padding-top: 0%;
            padding-bottom: 20%;
            color: white;
            border-radius: 6px !important;
            box-shadow: 1px 1px 1px 1px lightgray;
        }
        
        .size {
            width: 150px;
        }
        
        .suggest {
            margin-bottom: 40px;
        }
        
        .gallery {
            margin-bottom: none,
        }
        
        #like-btn {
            position: relative;
            float: right;
        }
        /* State Selection Page */
        
        #state-options {
            margin: 15px 6px 20px 6px;
        }
        
        .mdb-lightbox {
            display: flex;
        }
        
        .img-fluid {
            box-shadow: 2px 2px 2px gray;
        }